name: test
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: Runs "cargo test" on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [
          ubuntu-latest,
          windows-latest,
          macOS-latest
        ]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Cache .cargo and target
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo
            ./target
          key: ${{ runner.os }}-cargo-fmt-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-fmt-${{ hashFiles('**/Cargo.lock') }}
            ${{ runner.os }}-cargo-fmt

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: -- --nocapture
